.content-paragraph {
  background-color: #95CADB;
  border: 1px;
  padding: 20px;
  margin: 10px;
}

#box {
  padding: 10px 10px 10px 10px;
  margin-left:10px;
  margin-right:30px;

}
.content-paragraph h2 {
  color: #043E52;
}
* {
  box-sizing: border-box;
}

h1 {
  color: #FF001E;
}

#header-nav {
  background-color: #b6b972;
  border-radius: 0;
  border: 0;
}

#nav-list {
  margin-top: 10px;
  background-color: #95CADB;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #DB001A;
}